main {
    display: grid;      
    grid-template-columns: repeat(2, 1fr);    
    gap: 2em;
    margin: 0 auto;
    align-items: center;  
    justify-items: center; 
}


main button {
    justify-self: center;
    grid-column: span 2; 
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    color: black;
    background-color: lightgreen;
    cursor: pointer;
}

main > article {
    background: lightgreen;
    border: 0.2em solid white;
    height: auto;
    padding: 1em;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > article h3 {
    margin: 0em 0em 0.5em;
    font-size: 1.2em;
    color: yellow;
    background-color: darkblue;
    padding: 0.5em;
    text-align: center;
}

main > article p {
    margin: 0.3em 0em;
    font-size: 0.9em;
    line-height: 1.4;
    background-color: darkblue;
    color: yellow;
    padding: 0.5em;
}

#map {
    height: 400px; /* Ajusta la altura como lo necesites */
    width: 100%;
    margin-top: 20px;
    background-color: #f0f0f0;
}

@media screen and (max-width: 799px) {
    main  {
        display: grid;               
        grid-template-columns: repeat(1, 1fr);    
        gap: 2em;
        margin: 0 auto;
        align-items: center; 
        justify-content: center;     
    }
}